*{
    font-family: 'Inconsolata',monospace;
    margin:0;
    padding:0;
}

.container{
    display: grid;
    height: 2rem;
    line-height: 2rem;
    width: 98%;
    margin: 0 auto;
    grid-template-columns:repeat(7, minmax(0, 1fr));
    gap: 2px;
}
.container > div{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
body{
    background-color: rgb(65, 65, 65);
}
.title{
    margin: auto auto;
}

.heading{
    text-transform: uppercase;
    display: grid;
    grid-template-columns:10% 90%;
    text-align: center;
    background-image: linear-gradient(315deg, #966bb9 0%, #7c65ff);
    color: #ffffff;
    box-shadow: 0px 5px 10px black;
    height: 100px;
    font-size: 20px;


}

.emblem{
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}

img{

    height: 80px;
    width:80px;
    box-shadow: 0px 0px 10px ;
    border:2px solid gold ;
    border-radius: 50%;
    animation-name:glow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}
@keyframes glow{
    from{
        box-shadow: 0px 0px 0px ;
    
    }
    to{
        box-shadow: 0px 0px 10px ;

    }
}

p{
    color: rgb(148, 243, 93);
    font-size: 22px;
    text-align: center;
    width:400px;
    margin: 0 auto;

}

.layout{
        display: grid;
       margin: 0 auto;
        width: 90%;
        grid-template-columns: repeat(2,50%);
        gap: 2px;

}
.layout>div{
    background-color: rgb(213, 198, 223);
    height: 200px;
}

.container>div:hover{
    background-image: linear-gradient(to right , rgb(43, 161, 126),lightgreen);
}