*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(to right,#592C88,purple);
    overflow-x: 0;
}
.container{
    display: grid;
    height: 2rem;
    line-height: 2rem;
    background-color: #F4F1EE;
    border-radius: 15px;
    width: 98%;
    margin: 0 auto;
    grid-template-columns:repeat(6, minmax(0, 1fr));
    gap: 2px;
}
.container > div{
    text-align: center;
    text-transform: uppercase;
    height: min-content;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bolder;
}

.title{
    margin: auto auto;
}


.heading{
    text-transform: uppercase;
    display: grid;
    grid-template-columns:10% 5% 85%;
    text-align: center;
    color: #F4F1EE;
    /* background: rgb(255, 255, 255,0.2); */
    height: 100px;
    font-size: 18px;



}
.darkmode{
    display: flex;
    justify-content: center;
    align-items: center;
   
 

}
.icon{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
  
}
.dark-mode {
    background-color: black;
    color: white;
  }
.icon:hover{
    background-color: rgb(77, 76, 76);
}
.teacher_img{
    display: flex;
}

.emblem{
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}
#img1{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
 
}
.quote{
    display: flex;
}



#img0{

    height: 80px;
    width:80px;
    box-shadow: 0px 0px 10px ;
    border:2px solid rgb(132, 0, 255) ;
    border-radius: 50%;
    animation-name:glow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}
@keyframes glow{
    from{
        box-shadow: 0px 0px 0px ;
    
    }
    to{
        box-shadow: 0px 0px 10px ;

    }
}

p{
    color: rgb(213, 210, 250);
    font-size: 22px;
    text-align: center;
    width:400px;
    margin: 0 auto;

}

.layout{
        display: grid;
        justify-content: center;
        align-content: center;
        margin: auto auto;
        background-color: #F1C543;
        width: 90%;
        grid-template-columns: repeat(2,30%);
        gap: 2px;

}
.layout>div{
    background-color: rgb(213, 198, 223);
    height: 400px;
}
ul{
    width:500px;
    text-align:left;
    background-color: rgb(173, 172, 172);
    border-radius: 10px;
    line-height: 24px;
    font-size: 18px;
    text-transform:none;
    position: absolute;
    padding: 5px;
}

.container>div:hover{
   background-color: #F1C543;
    /* background-image: linear-gradient(to right , rgb(43, 161, 126),rgb(106, 190, 106)); */
    transition:ease-in-out;
    border-radius: 20px;
}
.in4{
    width: 300px;
    background-color: #b3b2b2;
    visibility: hidden;
    position:absolute;
    transition: 0.3s;
    
}


.div4:hover >div{
    visibility: visible;
    transition:ease-in-out;
    
}
a:hover{
    color: rgb(1, 167, 117);
}
.div3>a{
    color: black;
}
.div5>a{
        color: black;
    
}
.div6>a{
    color: black;
}


 a{
    
    text-decoration: none;
    color: white;
}

.teacher{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.quote>p{
    box-shadow: 0px 0px 10px rgb(24, 21, 24);
    text-align: left;
    color: white;
    background-color: rgb(241, 197, 67);
    font-size: 18px;
    padding: 15px;


}



.dark-mode .heading{
    background-color: rgb(73, 73, 73);
    color: white;
}
.dark-mode {
    background-image: linear-gradient(to right , black,black);
}

.dark-mode .container{
    background-color: rgb(63, 62, 62);
    border-radius: 20px;
}
.dark-mode .div3>a{
    color: white;
}
.dark-mode .div5>a{
    color: white;
}
.dark-mode .div6>a{
    color: white;
}

.div4>details{
    text-align:left;
    
}
.details:hover{
    background-color: #46402f;
}
#kannada{
    text-color: #F1C543;

}
